.sec-activity {
  .border-activity {
    border: 1px solid transparent;
    padding: 0.2rem;
    border-radius: 3px;
    position: relative;

    &:hover {
      border-color: #f3e3ceff;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-top: 10px solid #f3e3ceff;
        border-right: 10px solid #f3e3ceff;
      }

      &::after {
        content: "x";
        position: absolute;
        top: -2px;
        right: 2px;
        z-index: 1;
        color: #943d44;
        font-size: 11px;
        font-weight: 500;
        height: 12px;
      }
    }
  }
}
